.image {
  width: 96px;
  height: 96px;
}

.videoContent {
  display: grid;
}

.textCenter {
  text-align: center
}

.centerItem {
  margin: auto;
}

.marginTop15 {
  margin-top: 15px;
}

.video {
  max-height: 500px;
}